body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 244, 255);
    background: linear-gradient(90deg, rgba(252, 244, 255, 1) 72%, rgba(255, 255, 255, 1) 100%);
}

.container {
    padding: 40px 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: max-content;
}

.form-box {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.input input {
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    background-color: #fafafa;
    margin-bottom: 10px;
    width: 100%;
}

input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.btn {
    border: none;
    border-radius: 7px;
    background: rgb(252, 244, 255);
    background: linear-gradient(90deg, rgba(252, 244, 255, 1) 72%, rgba(250, 250, 250, 1) 100%);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    width: 112%;
}

p {
    padding: 5px 5px;
    font-size: 17px;
    text-align: center;
}
